@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


body {
    color: #ffeeee;
    margin: 0;
    font-family: 'Lora', serif;
    font-weight: normal;
    background-color: #0F0E0E;

}


h3, h2, h1 {
    color: #7c5f43;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: 'Lora', serif;
   }


header {
    padding-top: 1%;
    background-color: #CC9B6D;

}

.pastas {
    padding-bottom: 10px;
    margin: 0%;
}

header p, h1 {
    color: #633535;
}

header p {
    padding-left: 1%;
    padding-bottom: 1%;
}

main {
   padding: 10px;
}

section {
    padding: 10px; 
}

a {
    color: #633535;
    text-decoration: none;
}

a:visited {
    color: #633535;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;

}

a:active {
        color: #ffae00;
        text-decoration: underline;

    }
    
.centro {
    text-align: center;
}



